## Ingenería de las variables de fecha y hora

Las variables de fecha y hora son un tipo especial de variables categóricas. Dada su naturaleza, estas variables tienen una gran variedad de categorías o etiquetas, cada una correspondiente a una parte de la fecha o de la hora.

Las variables de fecha, cuando se procesan adecuadamente, pueden enriquecer altamente los datos. Por ejemplo, de una variable fecha se puede extraer:

- Semana del año
- Mes
- Trimestre
- Semester
- Año
- Día (número)
- Día de la semana
- Es fin de semana?
- Diferencia entre dos fechas ya sea en años, meses, días, etc

Las variables de fecha no deberían ser usadas como una variable categórica cuando se construye un modelo de machine learning. No solamente, porque estas pueden tener una multitud de categorías, pero también porque cuando se evalúa un modelo, lo más probable es que la variables de fecha estén en el futuro. Por lo tanto estas categorías puede que sean diferentes de las que estaban en el set de entrenamiento, y por lo tanto las que fueron usadas para entrenar el modelo de machine learning.


## En este demo: 

En este demo, usaremos los datos de Préstamos Peer to Peer, de la compañía financiera **Lending Club** para extraer las diferentes variables a partir de la información de fecha y hora 

- Para descargar los datos, por favor referirse a la lección de **Datos** en la  **Sección 1** del curso.

In [1]:
import pandas as pd
import numpy as np

import datetime

In [2]:
# carguemos los datos del Lending Club con unas pocas
# columnas y unas observaciones para facilitar el demo

use_cols = ['issue_d', 'last_pymnt_d']
data = pd.read_csv('../loan.csv', usecols=use_cols, nrows=10000)

data.head()

    issue_d last_pymnt_d
0  Dec-2011     Jan-2015
1  Dec-2011     Apr-2013
2  Dec-2011     Jun-2014
3  Dec-2011     Jan-2015
4  Dec-2011     Jan-2016

In [3]:
# procesemos la información de fechas
# actualmente de tipo cadena ('string') y 
# cambiarlas a un formato 'datetime' 

data['issue_dt'] = pd.to_datetime(data.issue_d)
data['last_pymnt_dt'] = pd.to_datetime(data.last_pymnt_d)

data[['issue_d','issue_dt','last_pymnt_d', 'last_pymnt_dt']].head()

    issue_d   issue_dt last_pymnt_d last_pymnt_dt
0  Dec-2011 2011-12-01     Jan-2015    2015-01-01
1  Dec-2011 2011-12-01     Apr-2013    2013-04-01
2  Dec-2011 2011-12-01     Jun-2014    2014-06-01
3  Dec-2011 2011-12-01     Jan-2015    2015-01-01
4  Dec-2011 2011-12-01     Jan-2016    2016-01-01

### Extraer la semana del año

In [4]:
# Extraer la semana del año de la información
# de fechas, que varía del 1 al 52

data['issue_dt_week'] = data['issue_dt'].dt.week

data[['issue_dt', 'issue_dt_week']].head()

    issue_dt  issue_dt_week
0 2011-12-01             48
1 2011-12-01             48
2 2011-12-01             48
3 2011-12-01             48
4 2011-12-01             48

In [5]:
data['issue_dt_week'].unique()

array([48, 44, 39, 35, 31], dtype=int64)

### Extraer mes

In [6]:
# Extraer el mes de la fecha - 1 a 12

data['issue_dt_month'] = data['issue_dt'].dt.month

data[['issue_dt', 'issue_dt_month']].head()

    issue_dt  issue_dt_month
0 2011-12-01              12
1 2011-12-01              12
2 2011-12-01              12
3 2011-12-01              12
4 2011-12-01              12

In [7]:
data['issue_dt_month'].unique()

array([12, 11, 10,  9,  8], dtype=int64)

### Extraer trimestre

In [8]:
# Extraer el trimestre de la variable fecha
# valores 1 a 4

data['issue_dt_quarter'] = data['issue_dt'].dt.quarter

data[['issue_dt', 'issue_dt_quarter']].head()

    issue_dt  issue_dt_quarter
0 2011-12-01                 4
1 2011-12-01                 4
2 2011-12-01                 4
3 2011-12-01                 4
4 2011-12-01                 4

In [9]:
data['issue_dt_quarter'].unique()

array([4, 3], dtype=int64)

### Extraer  semestre

In [10]:
# También podemos extraer el semestre : 1 o 2

data['issue_dt_semester'] = np.where(data['issue_dt_quarter'].isin([1,2]), 1, 2)

data.head()

,issue_d,last_pymnt_d,issue_dt,last_pymnt_dt,issue_dt_week,issue_dt_month,issue_dt_quarter,issue_dt_semester
0,Dec-2011,Jan-2015,2011-12-01,2015-01-01,48,12,4,2
1,Dec-2011,Apr-2013,2011-12-01,2013-04-01,48,12,4,2
2,Dec-2011,Jun-2014,2011-12-01,2014-06-01,48,12,4,2
3,Dec-2011,Jan-2015,2011-12-01,2015-01-01,48,12,4,2
4,Dec-2011,Jan-2016,2011-12-01,2016-01-01,48,12,4,2

In [11]:
data['issue_dt_semester'].unique()

array([2])

###  Extraer año

In [12]:
# Extraer año

data['issue_dt_year'] = data['issue_dt'].dt.year

data[['issue_dt', 'issue_dt_year']].head()

    issue_dt  issue_dt_year
0 2011-12-01           2011
1 2011-12-01           2011
2 2011-12-01           2011
3 2011-12-01           2011
4 2011-12-01           2011

In [13]:
data['issue_dt_year'].unique()

array([2011], dtype=int64)

### Extraer días en varios formatos

In [14]:
# día - valor numérica del 1-31

data['issue_dt_day'] = data['issue_dt'].dt.day

data[['issue_dt', 'issue_dt_day']].head()

    issue_dt  issue_dt_day
0 2011-12-01             1
1 2011-12-01             1
2 2011-12-01             1
3 2011-12-01             1
4 2011-12-01             1

In [15]:
data['issue_dt_day'].unique()

array([1], dtype=int64)

In [16]:
# día de la semana - del 0 al 6

data['issue_dt_dayofweek'] = data['issue_dt'].dt.dayofweek

data[['issue_dt', 'issue_dt_dayofweek']].head()

    issue_dt  issue_dt_dayofweek
0 2011-12-01                   3
1 2011-12-01                   3
2 2011-12-01                   3
3 2011-12-01                   3
4 2011-12-01                   3

In [17]:
data['issue_dt_dayofweek'].unique()

array([3, 1, 5, 0], dtype=int64)

In [18]:
# día de la semana - nombre del día

data['issue_dt_dayofweek'] = data['issue_dt'].dt.day_name()

data[['issue_dt', 'issue_dt_dayofweek']].head()

    issue_dt issue_dt_dayofweek
0 2011-12-01           Thursday
1 2011-12-01           Thursday
2 2011-12-01           Thursday
3 2011-12-01           Thursday
4 2011-12-01           Thursday

In [19]:
data['issue_dt_dayofweek'].unique()

array(['Thursday', 'Tuesday', 'Saturday', 'Monday'], dtype=object)

In [20]:
# fué la aplicación hecha en un fin de semana?

data['issue_dt_is_weekend'] = np.where(data['issue_dt_dayofweek'].isin(['Sunday', 'Saturday']), 1,0)

data[['issue_dt', 'issue_dt_dayofweek','issue_dt_is_weekend']].head()

    issue_dt issue_dt_dayofweek  issue_dt_is_weekend
0 2011-12-01           Thursday                    0
1 2011-12-01           Thursday                    0
2 2011-12-01           Thursday                    0
3 2011-12-01           Thursday                    0
4 2011-12-01           Thursday                    0

In [21]:
data['issue_dt_is_weekend'].unique()

array([0, 1])

### Extraer el tiempo pasado entre dos fechas

In [22]:
# quizás sea más interesante, extraer
# la diferencia entre dos fechas

data['issue_dt'] - data['last_pymnt_dt']

0      -1127 days
1       -487 days
2       -913 days
3      -1127 days
4      -1492 days
          ...
9995    -974 days
9996   -1522 days
9997   -1096 days
9998   -1096 days
9999    -153 days
Length: 10000, dtype: timedelta64[ns]

In [23]:
# el mismo cálculo que en la celda anterior, pero simplemente
# tomando el valor de la diferencia

(data['last_pymnt_dt'] - data['issue_dt']).dt.days.head()

0    1127.0
1     487.0
2     913.0
3    1127.0
4    1492.0
dtype: float64

In [24]:
# calculemos el número de meses transcurridos
# entre dos fechas

data['months_passed'] = (data['last_pymnt_dt'] - data['issue_dt']) / np.timedelta64(1, 'M')
data['months_passed'] = np.round(data['months_passed'],0)

data[['last_pymnt_dt', 'issue_dt','months_passed']].head()

  last_pymnt_dt   issue_dt  months_passed
0    2015-01-01 2011-12-01           37.0
1    2013-04-01 2011-12-01           16.0
2    2014-06-01 2011-12-01           30.0
3    2015-01-01 2011-12-01           37.0
4    2016-01-01 2011-12-01           49.0

In [25]:
# o calculemos la diferencia de una fecha
# al día de hoy

(datetime.datetime.today() - data['issue_dt']).head()

0   3123 days 13:48:19.646027
1   3123 days 13:48:19.646027
2   3123 days 13:48:19.646027
3   3123 days 13:48:19.646027
4   3123 days 13:48:19.646027
Name: issue_dt, dtype: timedelta64[ns]

In [26]:
(datetime.datetime.today() - data['issue_dt']).unique()

array([269876899703066000, 272468899703066000, 275147299703066000,
       277739299703066000, 280417699703066000], dtype='timedelta64[ns]')